helm install  my-release -f values-production.yaml --set mongodbRootPassword=admin,persistence.storageClass=local-path bitnami/mongodb

helm install  my-release  \
--set auth.rootPassword=trantandat,global.storageClass=local-path,architecture=replicaset \
bitnami/mongodb

kubectl exec -it pod/my-release-mongodb-0  -- mongo -u root -p trantandat
{
    "insecure-registries" : [ "http://11.11.7.44:5001" ]
}

docker run -d -p  5000:5000 --name registry registry:2
docker image tag ubuntu localhost:5000/myfirstimage:v2
docker image tag ubuntu localhost:5000/myfirstimage2:v1

docker tag nginx http://localhost:5000/my-nginx:v1
curl -X GET localhost:5000/myfirstimage

curl -XGET localhost:5000/v2/myfirstimage/manifests/latest



docker image tag ubuntu localhost:5000/myfirstimage/2

curl -X GET http://localhost:5000/v2/myfirstimage2/tags/list


curl -v -X DELETE localhost:5000/v2/myfirstimage/manifests/latest

curl -X DELETE localhost:5000/v2/myfirstimage/tags/latest

/v2/<name>/manifests/<reference>


curl -v --silent -H "Accept: application/vnd.docker.distribution.manifest.v2+json" -X GET localhost:5000/v2/myfirstimage/manifests/v1 2>&1 | grep Docker-Content-Digest | awk '{print ($3)}'

curl -v --silent -H "Accept: application/vnd.docker.distribution.manifest.v2+json" -X DELETE localhost:5000/v2/myfirstimage/manifests/sha256:7cc0576c7c0ec2384de5cbf245f41567e922aab1b075f3e8ad565f508032df17


curl -v --silent -H "Accept: application/vnd.docker.distribution.manifest.v2+json" -X GET http://localhost:5000/v2/myfirstimage/manifests/v1 2>&1 | grep Docker-Content-Digest | awk '{print ($3)}'

curl -v --silent -H "Accept: application/vnd.docker.distribution.manifest.v2+json" -X DELETE localhost:5000/v2/my-nginx/manifests/sha256:2e87d9ff130deb0c2d63600390c3f2370e71e71841573990d54579bc35046203

curl -X GET http://localhost:5000/v2/my-nginx/manifests/v1 | jq -r '.history[].v1Compatibility' | jq '.created'  | sort  | tail -n1
 docker run --rm --entrypoint htpasswd registry:2.7.0 -Bbn admin "admin" > ~/htpasswd_backup/htpasswd
 
 token github: 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
 token gitlab: glpat-Hytg9WRaWpFyznUsZzqy
 
 helm package:
 -tạo token trên gitlab
 -https://docs.gitlab.com/ee/user/packages/helm_repository/
 -helm repo add --username <username> --password <access_token> project-1 https://gitlab.example.com/api/v4/projects/<project_id>/packages/helm/<channel>
 -Create helm
 -Helm package
 -install plugin https://github.com/chartmuseum/helm-push/#readme để có thể push helm lên package registry gitlab
 - helm cm-push mychart-0.1.0.tgz project-1

Minio client:
https://docs.min.io/docs/minio-client-complete-guide.html
https://www.devopszones.com/2019/11/minio-client-installation-and-quickstart.html

sumarry task mới tuần này
1. tạo đc example helm chart
2. tạo đc helm chart repo
3. push cục repo đó lên s3

Tuần sau
1. deploy thử lên k8s
2. dùng nhiều file values.yaml
3. push repo lên gitlab page, gitlab package registry
https://tmasolutions.my.webex.com/tmasolutions.my/j.php?MTID=mfb8d08551966cc66746ae3d3c68016c7

14410000197247
812 
Hi anh,
Chúc anh năm mới có nhiều sức khoẻ, an khang thịnh vượng.
Anh cho em hỏi mùng 7 là mình phải lên công ty để làm trực tiếp phải không anh
Dạ để em biết khăn gói lên đường.
Anh cho e hỏi, là giờ mình lên SG thì khỏi cần test với cách ly đúng k anh.
Em 2 mũi rồi ạ
lsmod | grep bluetooth